<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap4 css min -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<title>従業員情報一覧</title>
<script>
	// 削除ボタン押下時、隠しformに値を格納し、modalを表示する関数
	function viewModal(id) {
		$('#target').val(id);
		const targetVal = $('#target').val();
		console.log(targetVal);

		const empId = '#emp_id_' + id;

		$('#deleteTargetName').text($(empId).children('.employee_name').text());
		$('#deleteTargetNo').text($(empId).children('.employee_no').text());

		$('#deleteCheck').modal('show');
		return false;
	}

	// indexFormをsubmitする関数
	function indexFormSubmit() {
		$('#indexForm').submit();
	}

	// 検索用フォームのプレースホルダーをプルダウンの選択肢と連動させる関数
	function setPlaceholder() {
		const pulldownValue = $('#searchTarget').val();
		switch (pulldownValue) {
		case '':
			$('#searchValue').attr('placeholder', '検索条件を指定してください');
			break;
		case 'no':
			$('#searchValue').attr('placeholder', '従業員番号を入力してください');
			break;
		case 'name':
			$('#searchValue').attr('placeholder', '従業員名を入力してください');
			break;
		}
	}
</script>
</head>
<body>

	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
		<a class="navbar-brand my-0 mr-md-auto font-weight-normal text-black" th:href="@{/employees}">
			SpringBootSample
		</a>
		<nav class="my-2 my-md-0 mr-md-3">
			<a class="p-2 text-dark" th:href="@{/employees}">一覧</a>
			<a class="p-2 text-dark" th:href="@{/employees/deleted}">一覧（論理削除済み）</a>
			<a class="p-2 text-dark" th:href="@{/employees/input}">登録</a>
		</nav>
	</div>

	<div class="container">
		<div class="row justify-content-center mb-4">
			<h1>
				従業員情報一覧<span th:if="${softDelete}" th:text="（論理削除済み）"></span>
			</h1>
		</div>

		<div class="row justify-content-center">
			<p th:if="${message != null}" th:text=${message.text} class="text-danger">danger</p>
		</div>

		<!-- 従業員情報が1件以上だった場合 -->
		<th:block th:if="!${#lists.isEmpty(employees)}">

			<!-- 通常の一覧画面の場合、検索機能を表示 -->
			<div th:if="!${softDelete}" class="row justify-content-center mb-3">
				<form method="post" name="searchForm" action="/employees"
					class="form-inline">
					<div class="form-group">
						<label for="searchTarget">検索対象：</label> <select
							name="searchTargetColumn"
							th:value="${#strings.isEmpty(searchTargetColumn)}? '' : ${searchTargetColumn}"
							onChange="setPlaceholder()" class="form-control mr-3"
							id="searchTarget" required>
							<option value=""></option>
							<option value="no">番号</option>
							<option value="name">名前</option>
						</select>
					</div>
					<div class="form-group">
						<label for="searchValue"></label> <input type="text"
							name="searchValue" class="form-control mr-2" id="searchValue"
							th:value="${#strings.isEmpty(searchValue)}? '' : ${searchValue}"
							size=30 placeholder="検索条件を指定してください" autocomplete="off" required>
					</div>
					<button name="search" class="btn btn-primary">検索</button>
				</form>
			</div>

			<div class="row justify-content-center mb-3">
				<small>複数のキーワードで検索するときは、スペースで区切って検索を行ってください。</small>
			</div>

			<div class="row justify-content-center">
				<p th:if="${searchTargetColumn}" th:text="${searchTargetColumn}"></p>
				<form method="post" name="indexForm" action="/employees/edit"
					th:object="${indexForm}" id="indexForm">

					<!-- 操作対象の情報を埋め込む隠しform target -->
					<input id="target" th:type="hidden" th:field="*{target}"
						th:value="default">

					<table class="table table-sm text-center table-hover">
						<thead>
							<tr>
								<th>従業員番号</th>
								<th>従業員名</th>
								<th>パスワード</th>
								<th>登録日時</th>
								<th th:unless="${softDelete}">変更日時</th>
								<th th:if="${softDelete}">削除日時</th>
								<th th:unless="${softDelete}">変更</th>
								<th th:if="${softDelete}">復元</th>
								<th>削除</th>
							</tr>
						</thead>

						<!-- ここから 従業員情報の表示 -->
						<tbody>
							<th:block th:each="employee : ${employees}">
								<tr th:id="'emp_id_' + ${employee.id}">
									<td class="employee_no">[[${employee.no}]]</td>
									<td class="employee_name">[[${employee.name}]]</td>
									<td class="employee_password">[[${employee.password}]]</td>
									<td class="employee_created_at"
										th:text="${#dates.format(employee.created_at, 'yyyy/MM/dd')}"></td>
									<td th:unless="${softDelete}" class="employee_updated_at"
										th:text="${#dates.format(employee.updated_at, 'yyyy/MM/dd')}"></td>
									<td th:if="${softDelete}" class="employee_deleted_at"
										th:text="${#dates.format(employee.deleted_at, 'yyyy/MM/dd')}"></td>

									<td>
										<button th:unless="${softDelete}" name="update"
											class="btn btn-outline-info btn-sm btn-block rounded-0 pd-0"
											th:attr="onclick='$(\'#target\').val(\'' + ${employee.id} + '\');'">変更</button>
										<button th:if="${softDelete}" name="restore"
											class="btn btn-outline-info btn-sm btn-block rounded-0 pd-0"
											th:attr="onclick='$(\'#target\').val(\'' + ${employee.id} + '\');'">復元</button>
									</td>
									<td>
										<button type="button"
											class="btn btn-outline-danger btn-sm btn-block rounded-0 pd-0"
											th:attr="onclick='return viewModal(\'' + ${employee.id} + '\');'">削除</button>
									</td>
								</tr>
							</th:block>
						</tbody>
						<!-- ここまで 従業員情報の表示 -->

						<tfoot>
							<tr></tr>
						</tfoot>
					</table>

					<!-- ここから モーダルの設定 -->
					<div class="modal fade" id="deleteCheck" tabindex="-1"
						role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">
										<span th:text="${softDelete}? '物理削除' : '論理削除'"></span>を実行しますか？
									</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="閉じる">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>
										<span id="deleteTargetName"></span>（<span id="deleteTargetNo"></span>）の情報を削除します。
									</p>
									<p>本当によろしいですか？
									<p>
										<small th:unless="${softDelete}" class="text-muted">この操作は論理削除のため、データを復元することができます。</small>
										<small th:if="${softDelete}" class="text-muted">この操作は物理削除のため、一度削除したデータは復元することができません。</small>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-outline-secondary"
										data-dismiss="modal">いいえ</button>
									<button class="btn btn-danger"
										th:name="${softDelete}? 'delete' : 'softDelete'">はい</button>
								</div>
							</div>
						</div>
					</div>
					<!-- ここまで モーダルの設定 -->
				</form>
			</div>
		</th:block>

		<!-- 従業員情報が0件だった場合 -->
		<th:block th:if="${#lists.isEmpty(employees)}">
			<div class="row justify-content-center">
				<p>
					<span th:if="${softDelete}" th:text="削除済みの"></span>従業員情報が見つかりませんでした。
				</p>
				<p>
					新しい従業員情報を追加する場合、 <a th:href="@{/employees/input}">こちら</a>から登録を行ってください。
				</p>
			</div>
		</th:block>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>