<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Bootstrap4 css min -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<title>従業員登録</title>
</head>
<body>

	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
		<a class="navbar-brand my-0 mr-md-auto font-weight-normal text-black" th:href="@{/employees}">
			SpringBootSample
		</a>
		<nav class="my-2 my-md-0 mr-md-3">
			<a class="p-2 text-dark" th:href="@{/employees}">一覧</a>
			<a class="p-2 text-dark" th:href="@{/employees/deleted}">一覧（論理削除済み）</a>
			<a class="p-2 text-dark" th:href="@{/employees/input}">登録</a>
		</nav>
	</div>

	<div class="container">
		<div class="row justify-content-center mb-4"><h1>従業員登録</h1></div>
		<div class="row justify-content-center mb-4">

			<!-- 従業員登録用form -->
			<form method="post" action="/employees/input" th:object="${employeeInputForm}">

				<!-- 従業員名の入力formグループ -->
				<div class="form-group row">
					<div class="col-3 col-form-label text-nowrap">
						<span class="badge badge-danger">必須</span>
						<label for="name">従業員名</label>
					</div>
					<div class="col-9">
						<input type="text" class="form-control" id="name" th:field="*{name}"
						aria-describedby="nameHelp" placeholder="従業員名"
						maxlength="32" autocomplete="off" required>
					</div>
					<div class="col">
						<div class="offset-3">
							<small id="nameHelp" class="form-text text-muted pl-3">1~32文字で入力してください。</small>
							<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger pl-3">error!</p>
						</div>
					</div>
				</div>

				<!-- パスワードの入力formグループ -->
				<div class="form-group row">
					<div class="col-3 col-form-label text-nowrap">
						<span class="badge badge-danger">必須</span>
						<label for="password">パスワード</label>
					</div>
					<div class="col-9">
						<input type="text" class="form-control" id="password" th:field="*{password}"
						aria-describedby="passwordHelp" placeholder="パスワード"
						maxlength="6" autocomplete="off" required>
					</div>
					<div class="col">
						<div class="offset-3">
							<small id="passwordHelp" class="form-text text-muted pl-3">1~6文字で入力してください。</small>
							<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger pl-3">error!</p>
						</div>
					</div>
				</div>

				<!-- 登録ボタン -->
				<div class="text-center">
					<button type="submit" class="btn btn-primary">登録</button>
				</div>
			</form>

		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
</html>