<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>従業員検索</title>
</head>
<body>
	<h1>従業員検索</h1>

	<form method="post" action="/employees/search" th:object="${employeeInputForm}">
		従業員番号：<input type="text" th:field="*{no}" name="no" class="form-control" aria-describedby="basic-addon2"></input><br>
		<p th:if="${#fields.hasErrors('no')}" th:errors="*{no}">error!</p><br>
		従業員名：<input type="text" th:field="*{name}" class="form-control" aria-describedby="basic-addon2"></input><br>
		<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error!</p><br>
		<input type="submit" value="検索" />
	</form>

	<table border="1">
			<tr>
				<th>従業員番号</th>
				<th>従業員名</th>
				<th>パスワード</th>
			</tr>

			<!-- ここから 従業員情報の表示 -->
			<tr th:each="employee : ${employees}">
				<td>[[${employee.no}]]</td>
				<td>[[${employee.name}]]</td>
				<td>[[${employee.password}]]</td>
			</tr>
			<!-- ここまで 従業員情報の表示 -->

		</table>

</body>
</html>